.cards{
    margin: 0 auto;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    line-height: 1.2;
    font-size: 24px;
    margin-top: 30px;
    max-width: 880px;
    justify-items: center;
}

.card{
    width: 282px;
    border-radius: 10px;
    overflow: hidden;
}

.card__list{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 282px);
    grid-gap: 20px 17px;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.card__image{
    width: 282px;
    height: 282px;
    border-radius: 10px 10px 0 0;
}
.cards__title{
    color:black;
    font-weight: 900;
    font-size: 24px;
    line-height: 1.2;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.card__description{
    height: 79px;
    display: flex;
    background-color: white;
    color: black;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.card__like-button{
    background: transparent url(/images/disabled\ like.svg) center no-repeat;
    object-fit: fill;
    height: 21px;
    width: 20px;
    border: none;
}

.card__like-button:hover{
    background: transparent url(/images/like.svg) center no-repeat;
    height: 21px;
    width: 20px;
}

@media screen and (max-width: 568px){
    .card__list{
        padding: 15px 0 18px;
    }
}