.card{
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.card__image{
    width: 282px;
    height: 282px;
}

.card__image:hover {
    cursor: pointer;
}

.card__description{
    display: flex;
    background-color: white;
    color: black;
    justify-content: space-between;
    align-items: center;
    padding: 25px 20px;
}

.card__like-button{
    background: transparent url(../images/disabled_like.svg) center no-repeat;
    object-fit: fill;
    height: 21px;
    width: 20px;
    border: none;
    cursor: pointer;
}

.card__like-button_active{
    background-image: url(../images/active_like.svg);
}

.card__like-button:hover{
    opacity: .5;
}

.card__delete-button{
    background-image: url(../images/Trash.svg);
    background-color: transparent;
    position: absolute;
    height: 18px;
    width: 19px;
    border: none;
    margin: 18px 249px 0;
    cursor: pointer;
}

.card__delete-button:hover {
    opacity: 0.6;
    cursor: pointer;
  }

@media screen and (max-width: 568px){
    .card__list{
        padding: 15px 0 18px;
    }
}