.cards{
    margin: 0 auto;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    line-height: 1.2;
    font-size: 24px;
    margin-top: 51px;
    max-width: 880px;
    justify-items: center;
}

.cards__title{
    max-width: 193px;
    color:black;
    font-weight: 900;
    font-size: 24px;
    line-height: 1.2;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
}

.cards__list{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 282px);
    grid-gap: 20px 17px;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#modal__confirm {
  padding: 0 36px 36px 36px;
  width: 430px;
  min-height: 131px;
}

.confirm__heading {
  padding: 34px 36px 0 0;
}

@media screen and (max-width: 568px){
    .cards{
        margin-top: 33px;
    }

    .confirm__heading {
      padding: 25px 0 0 22px;
    }
}